%h1 Admin::Letters#new
%p Find me in app/views/admin/letters/new.html.haml

= form_with url: new_admin_letters_path, scope: :letter, local: true  do |form|
		%div
			= form.label :Title
			= form.text_field :Title
			%div
				= form.label :Content
				= form.text_field :Content